<header class="masthead ">
    <div class="text-center masthead-text theme-color">
        <h2 class="Uppercase font-large">API Integration- cross platform</h2>
        <h3 class="Uppercase ">
            resourceful | holistic | Adaptive
        </h3>
    </div>
</header>
<section class="content-section">
    <div class="container">
        <p class="text-center text-large mb-5 theme-color">
            "Cross platform API creation is important when you want to grow your organization faster, by adapting
            technologies you can implement featured technologies developed by leaders of the fields. Using expert
            knowledge and resources developed by well-established organization can help you recognize your business as
            an expert. We can provide resourceful, understandable and well-integrated cross-platform integration for
            multiple Payment gateways, Seek job posting, Marketing SMS integration and Webhooks."
        </p>
        <div class="row">
            <div class="col-md-6 text-center theme-color margin-top-s-p animate__animated animate__swing"
                style="font-size: 5rem;">
                <i class="fab fa-buromobelexperte"></i>
            </div>
            <div class="col-md-6 text-justify">
                <h3 class="text-center theme-color">Resourceful</h3>
                <p>
                    We can identify needs of integration for your business to grow in the industry. As our team is
                    proficient in fetching, posting and getting data from multiple platforms to make your web
                    applications resourceful. Moreover, we encourage interactive information over static where user
                    don’t need to rely on other platforms.
                </p>
            </div>
            <div class="col-md-6 text-center theme-color margin-top-s-p animate__animated animate__pulse animate__delay-2s"
                style="font-size: 5rem; ">
                <i class="fab fa-codepen"></i>

            </div>
            <div class="col-md-6 text-justify">
                <h3 class="text-center theme-color">Well-integrated</h3>
                <p>
                    If you’re looking for well-integrated platform for your business, we follow wholistic approach for
                    API integration. Which can help you use all the available features of the platform you bought. As cross services developers we provide documentations and guidelines to well understand your integration.
                </p>
            </div>
        </div>
        <div class="row margin-top-s-p">
            <div class="col-md-4 text-center">
                <!-- <span class="service-icon rounded-circle mx-auto mb-3">
                    <i class="fas fa-atom"></i>
                </span> -->
                <h3 class="theme-color">SEEK Job Posting</h3>
                <p>

                    We are specialized in development on SEEK specific job posting portal for employers if you want to
                    post jobs using SEEK’s job posting API and view applicants using your website and evaluate your
                    candidates. We can provide end to end journey on your existing platform.

                </p>
            </div>

            <div class="col-md-4 text-center">
                <!-- <span class="service-icon rounded-circle mx-auto mb-3">
                    <i class="far fa-edit"></i>
                </span> -->
                <h3 class="theme-color">Payments | Communications </h3>
                <p>
                    When you have to provide information to and from customers either for Marketing or for maintain the
                    relation we can develop applications for you to interact with Email , WhatsApp, and SMS.
                    We can integrate payment gateway from multiple platforms including Till Payments, Paypal, Stripe
                    Pay.
                </p>
            </div>


            <div class="col-md-4 text-center">
                <!-- <span class="service-icon text-large rounded-circle mx-auto mb-3">
                    <i class="fas fa-cash-register"></i>
                </span> -->
                <h3 class="theme-color">Google | Facebook | Chat Bots</h3>
                <p>
                    To make your sign-up and login easy we provide google and Facebook sign-up/ login and connect
                    community with your website, we can integrate applications using leading social media platforms. We
                    can also develop interactive chatbots using multiple platforms including WhatsApp, Facebook and many
                    other.
                </p>
            </div>

        </div>
    </div>
</section>