    
    <section class="content-section " style="background: rgb(255 255 255);color: #7e5050 !important;" id="portfolio">
    <div class="container">
      <div class="content-section-heading text-center">
        <h3 class="mb-0">
        <h2 class="mb-5">Products as service</h2>
        </h3>
      </div>
      <!-- <div class="content-section-heading text-center">
        <h3 class="text-secondary mb-0">Products as service</h3>
        <h2 class="mb-5">Deploy your products in less then a week</h2>
      </div> -->
      <div class="row no-gutters">
        <div class="col-lg-6">
          <a class="portfolio-item" routerLink="/products">
            <div class="caption">
              <div class="caption-content">
                <div class="h2">COS E-commerce</div>
                <p class="mb-0">To help you grow in your Business or start a new one with online purchaching and delivery systems please take a look at our E-commerce portal</p>
              </div>
            </div>
            <img class="img-fluid" src="assets/img/portfolio-1.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" routerLink="/products">
            <div class="caption">
              <div class="caption-content">
                <div class="h2">I & I Management</div>
                <p class="mb-0">To manage your small business you don't need to buy enterprise level ERPs.</p>
              </div>
            </div>
            <img class="img-fluid" src="assets/img/portfolio-2.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" routerLink="/products">
            <div class="caption">
              <div class="caption-content">
                <div class="h2">Restaurents and Resrvations</div>
                <p class="mb-0">Online ordering and resrvations sounds cool? Take your traditions one step further.</p>
              </div>
            </div>
            <img class="img-fluid" src="assets/img/portfolio-3.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" routerLink="/products">
            <div class="caption">
              <div class="caption-content">
                <div class="h2">Assesment helper</div>
                <p class="mb-0">Help build future generation by letting them understand their learnings.</p>
              </div>
            </div>
            <img class="img-fluid" src="assets/img/portfolio-4.jpg" alt="">
          </a>
        </div>
      </div>
    </div>
  </section>