.masthead{
    background:url(../../assets/img/banners/3.png);
    background-image:  no-repeat;
    background-position:  center;
    background-attachment: fixed; 
    background-size: cover;
    height: 40%;
    }