/* You can add global styles to this file, and also import other style files */
.text-secondary {
    color: #ffc107 !important;
}

.content-section-heading h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.my-masthead {
    background-color: rgb(219, 219, 219);
    height: fit-content;
    padding: 1%;
}
.img-services{
    width: -webkit-fill-available;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}
.theme-color{
    color: #000000!important;
    background: #ffffff00;
}
.masthead-text {
    padding: 2%;
    color: #270101!important;
    background: #f4f4f4;
    box-shadow: 1px 0px 11px #6c757d;
    font-weight: bolder;
    width: 100%;
    border-radius: 7px;
}