.content-section {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
.margin-top-s-p{
    margin-top: 2.5rem;
}
.text-large{
    font-size: larger;
}
.service-icon {
    height: 7rem;
    width: 7rem;
    display: block;
    line-height: 7.5rem;
    font-size: 3rem;
    box-shadow: 0 0 20px 0px rgb(0 0 0 / 66%);
}
.masthead {
    min-height: fit-content !important;
    position: relative;
    display: table;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    width: -webkit-fill-available;
    background: url('../../assets/img/Banners/web-Development.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.Uppercase{
    text-transform: uppercase;
}
.font-large{
    font-size: xxx-large;
}