
.img-hero {
    height: 7rem;
    margin-bottom: 5%;
}

.bggradint {
    background: linear-gradient(0deg, #ff1919, #52dcee, #238bd5, #ff9900);
    background-size: 400% 400%;
    animation: gradient 20s cubic-bezier(0.67, 0.44, 0.24, 0.43) infinite;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    z-index: -10;
}

@keyframes gradient {
    0% {
        background-position: 0% 25%;
    }

    25% {
        background-position: 50% 25%;
    }

    50% {
        background-position: 75% 50%;
    }
    75% {
        background-position: 100% 75%;
    }
    100%{
        background-position: 0% 100%;
    }
}