.masthead {
    background-image: url(../../assets/img/bg-masthead.png);
    background-image: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.img-hero {
    height: 7rem;
    margin-bottom: 5%;
}

.bggradint {
    background: linear-gradient(70deg, #ee2222, #c052ee, #238bd5, #3344ee);
    background-size: 400% 400%;
    animation: gradient 20s cubic-bezier(0.67, 0.44, 0.24, 0.43) infinite;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    z-index: -10;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}