<header class="masthead ">
    <div class="text-center masthead-text">
            <h2 class="Uppercase font-large">Web Development</h2>
            <h3 class="Uppercase ">
                Flexible 
                | Scalable
                | Complex
            </h3>
        </div>
</header>
<section class="content-section">
    <div class="container">
        <p>Web Development is time critical, result oriented and complex process. In the era of creativity and exploration, every business has their own requirements and specifications. To overcome needs of web development we strive to provide multiple solutions for your business needs.

        </p>
    </div>
</section>